.all-collections {
  display: flex;
  flex-direction: column;
}

.collection {
  border: 1px solid black;
  margin: 5%;
  text-align: center;
}

.tags {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  width: 50%;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tags p {
  margin: 2% 5%;
  padding: 1.3%;
  /* width: 20%; */
  border: 1px solid black;
}

.add-card-page {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/* 
div {
  border: 1px solid black;
} */

.collection-buttons {
  margin: 0 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* EDIT COLLECTION */

.tag-map {
  display: flex;
}

.tag {
  background-color: lightgray;
  margin: 0px 5px;
  padding: 5px;
  border: 1px solid rgb(156, 153, 153);
}

.tag-exists {
  color: red;
}

.item-and-icon {
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
}

.delete-collection {
  background-color: red;
}
