/* .navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 1% 1% 0 0;
} */
div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 1% 1% 0 0;
}

div > div {
  margin-left: 4%;
}
/* .link {
  margin-left: 4%;
} */
