.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* .navbar-container > div {
  width: 40%;
  display: flex;
  justify-content: space-around;
  background-color: pink;
} */

.link {
  margin-right: 20%;
}
