div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

div > div {
  width: 40%;
  justify-content: space-evenly;
  background-color: blue;
}

/* .link {
  margin: 3% 10%;
  width: 100%;
} */
