.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1% 1% 0 0;
}

.subcontainer-one {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* margin: 1% 1% 0 0; */
  width: 10%;
}
.subcontainer-two {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60%;
  /* margin: 1% 1% 0 0; */
}

.link {
  margin-left: 4%;
}
