.homepage-top {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 82vh;
  background: url('../images-and-videos/images/Background-Winter.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 22%;
}

@media (min-width: 427px) and (max-width: 976px) {
  .homepage-top {
    height: 150vh;
    background-position: 0% 22%;
  }
}

/* @media (max-width: 427px) {
  .homepage-top {
    height: 1200px;
    background-position: 0% 22%;
  }
} */

.homepage-greet {
  margin-top: 6vh;
}

.homepage-greet h1 {
  font-size: 6em;
}

.homepage-greet p {
  font-size: 2em;
}

.homepage-separation {
  height: 1vh;
  width: auto;
  background-color: rgba(148, 151, 168, 0.9);
  margin-top: -1vh;
}

.homepage-sad {
  margin: 5vw;
  /* margin-left: 5vw; */
}

.homepage-sad h2 {
  font-size: 5em;
  text-align: center;
}

.homepage-sad h4 {
  font-size: 2.5em;
  text-align: center;
  margin: 10vw;
}

.homepage-sad p {
  font-size: 1.75em;
  text-align: center;
}

.homepage-sunlog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sunlog-description {
  margin-left: 5vw;
  text-align: center;
  max-width: 700px;
}

.sunlog-description h2 {
  font-size: 3em;
}

.sunlog-description p {
  font-size: 1.3em;
  margin: 7vh 0;
}

.sunlog-example {
  display: flex;
  flex-direction: column;
  /* max-width: 98%; */
  padding: 1%;
}

.sunlog-example h4 {
  text-align: center;
  margin: 0 0 2vh 0;
}

.sunlog-create {
  margin: 10vh 0;
}

.footer {
  /* position: absolute; */
  /* bottom: 0;
  width: 100%; */
  border-top: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(119, 159, 219);
  overflow: auto;
}

.footer-button {
  margin: 3vh 0;
  height: 50%;
  width: 122px;
  font-size: 1em;
  background-color: rgb(224, 242, 243);
}

.footer-button:hover {
  transition: 0.25s;
  background-color: rgb(183, 207, 218);
}

/* .footer-contact {
  text-align: center;
} */

/* FOR THE FOOTER LOGO */

.footer-logo {
  display: flex;
  align-items: center;
  /* color: white; */
  padding: 1px 6px 0;
  font-weight: bold;
  border-style: solid;
  /* border-color: White; */
  width: 40px;
  /* border-width: 2px; */
  margin: 30px 0;
}

.mt-logo {
  margin: 3px 0;
  text-align: center;
}

/* EVERYTHING BELOW HERE IS FOR THE CARD FLIP ANIMATION AND POSSIBLY A VIDEO PLAYER */

.signup-login-container {
  margin: 5vh 0 0 0;
  display: flex;
  flex-direction: column;
  max-width: 425px;
  align-items: center;

  /* color: green; */
}

.create-button {
  width: 90%;
  height: 50px;
  border-radius: 1ch;
  font-size: 1.8em;
  margin: 15vh 0 0 0;
  /* background-color: rgba(93, 87, 87, 0.7); */
  background-color: rgba(180, 194, 60, 0.75);
}

@media (min-height: 760px) {
  .create-button {
    margin: 18vh 0 0 0;
  }
}

@media (min-width: 450px) and(max-width: 580px) {
  .homepage-greet h1 {
    font-size: 5em;
  }
  .homepage-greet p {
    text-align: center;
  }
}

@media (max-width: 450px) {
  .homepage-greet h1 {
    font-size: 4em;
  }

  .homepage-greet p {
    text-align: center;
  }
}

.create-button:hover {
  transition: 0.3s;
  background-color: rgba(93, 87, 87, 0.8);
}

.container {
  width: 420px;
  height: 345px;
  position: relative;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}
.card {
  width: 100%;
  height: 100%;
  position: absolute;

  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
}

.card-div {
  display: block;
  height: 100%;
  width: 100%;
  /*     line-height: 260px; */
  /*     color: white; */
  text-align: center;
  font-weight: bold;
  /*     font-size: 140px; */
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card .front {
  /* background: red; */
  /* background-color: rgba(255, 255, 255, 0.2); */
}
.card .back {
  /* background: blue; */
  /* background-color: rgba(255, 255, 255, 0.2); */
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.card.flipped {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* FOR THE VIDEO */

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

@media (max-width: 426px) {
  .container {
    max-width: 315px;
    perspective: 0px;
  }

  .create-button {
    margin: 3vh 0 0 0;
  }

  .signup-login-container {
    margin: 0;
  }

  .homepage-top {
    height: 136vh;
  }

  .create-button {
    width: 100%;
    height: auto;
  }

  .signup {
    height: 340px;
  }
}

@media (max-width: 375px) {
  .homepage-sad {
    margin: 0;
    text-align: center;
  }

  .sunlog-description {
    margin: 0;
  }
}

@media (max-width: 470px) {
  .footer-button {
    display: none;
  }

  .footer-contact {
    font-size: 0.8em;
    text-align: start;
    margin-top: 17px;
  }

  .footer-contact p {
    margin: 7px 0 0;
  }

  .footer-logo {
  }
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  height: 10vh;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgb(142, 194, 234);
  /* background-color: rgb(180, 214, 241) */
  z-index: 1;
  /* overflow: hidden; */
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

@media (min-width: 730px) and (max-width: 850px) {
  .nav-links {
    width: 60%;
  }
}
@media (min-width: 427px) and (max-width: 730px) {
  .nav-links {
    width: 80%;
    font-size: 0.75em;
  }

  .logged-in-user {
    font-size: 0.75em;
  }
}

@media (max-width: 426px) {
  .nav-links {
    width: 100%;
    font-size: 0.75em;
  }

  .logged-in-user {
    display: none;
  }
}

.logged-in-user {
  margin: 0 0 0 2vw;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-size: 1.5em;
}

.nav-links a:hover {
  transition: 0.2s;
  color: rgb(1, 24, 128);
  /* text-decoration: underline; */
}

.chosen {
  color: rgb(30, 4, 95);
  text-decoration: underline;
}

.App {
  text-align: center;
  margin-top: 10vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

h1 {
  text-align: center;
}

i {
  text-align: center;
}

a {
  text-decoration: none;
}

.top-push {
  margin-top: 12.25vh;
}

/* CREATE LOGS */

.log-head {
  /* display: flex; */
  border-bottom: 1px solid black;
}

.log-head > span {
  justify-content: space-between;
  margin: -21px 0px 0px;
}

.name-and-gender {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid black; */
  /* justify-content: space-evenly; */
}

.name-and-gender > div {
  width: 30%;
}

.name-box {
  min-width: 45%;
  text-align: center;
}

@media (max-width: 375px) {
  .name-box {
    font-size: 0.75em;
  }
}

.weather-box {
  text-align: center;
  margin-top: -3.5%;
  /* max-width: 45%; */
  /* border-bottom: 1px solid black; */
  /* border-left: 1px solid black; */
  /* border-radius: 2%; */
}

.weather-box > p {
  /* max-width: 45%; */

  font-size: 0.75em;
  margin-top: 7px;
  margin-bottom: 2px;
}

.weather-icon {
  margin: -43px 0px -36px;
  /* margin: -41px 15px -36px; */
  /* border: 1px solid black; */
  /* FOR MOBILE margin:-6.7vh 4.98vw */
}

.gradient {
  background: rgb(2, 10, 46);
  background: linear-gradient(
    90deg,
    rgba(2, 10, 46, 1) 0%,
    rgba(12, 35, 135, 1) 30%,
    rgba(87, 139, 53, 1) 59%,
    rgba(255, 195, 66, 1) 100%
  );
}

.red {
  color: red;
  text-align: center;
}
.false {
  color: red;
  text-align: center;
}

.green {
  color: rgb(16, 116, 16);
  text-align: center;
}

.black {
  color: black;
  text-align: center;
}

/* VIEW ALL LOGS PAGE */

.view-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* border-bottom: 1px dotted black; */
}

.view-header > div > h1 {
  margin: 0px 0 4vh 0;
}

.create-log-link {
  text-align: center;
}

.log-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.log {
  border: 1px solid black;
  margin: 5vh 1.4vw;
  padding: 0 1vw;
  border-radius: 10px;
  width: 550px;
  box-shadow: 2px 2px #9398a2;
  background-color: #baccf1;
  /* min-width: 420px; */
}

.mock-log {
  border: 1px solid black;
  margin: 5vh 1.4vw;
  padding: 0 1vw;
  border-radius: 10px;
  max-width: 550px;
  box-shadow: 2px 2px #9398a2;
  background-color: #baccf1;
}

.log h2 {
  text-align: center;
}

.weather-audit {
  border: 1px solid black;
  margin: 1vh;
  padding: 0 1vw;
  max-width: 500px;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed black;
  text-align: center;
}

.header > span {
  font-size: 16px;
  width: 25%;
  font-weight: bold;
  text-align: center;
}

.weather-average-header {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.weather-average-header span {
  width: 22%;
  text-align: center;
}

.filter-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-top: 1px dotted black;
}

.gender-filter {
  text-align: center;
}

.gender-filter button {
  background-color: rgb(233, 30, 99);
  border-radius: 50%;
  height: 50px;
  width: 100px;
  font-size: 1em;
}

.gender-filter button:hover {
  transition: 0.2s;
  background-color: rgb(240, 97, 130);
}

.view-default-logs {
  background-color: rgba(234, 60, 100, 1);
  height: 50px;
  font-size: 1em;
  font-weight: bold;
  border-radius: 3ch;
  margin-top: 1vh;
}

.view-default-logs:hover {
  transition: 0.2s;
  background-color: rgb(240, 97, 130);
}

.gender {
  margin-left: 2vw;
  /* text-align: end; */
}

.mood-and-productivity {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.mood-and-productivity > h3 {
  width: 40%;
  /* display: flex;
  justify-content: space-between; */
  border: 1px solid black;
}

.mood-and-productivity > h3 > p {
  color: red;
}

/* SIGNUP */
.signup {
  border: 2px solid black;
  overflow: hidden;
  background-color: rgba(250, 250, 250, 0.55);
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  min-height: 300px;
  height: 333px;
  max-width: 400px;
  margin: 2vw 0;
  padding: 2vh 1vw 0;
}

@media (min-height: 760px) {
  .signup {
    height: 365px;
  }
}

/* .signup > form {
  min-height: 280px;
} */

.signup-button {
  display: flex;
  /* align-items: flex-end; */
  justify-content: center;
}

.signup-button > button {
  margin-top: 1vh;
  font-size: 2em;
  height: 50px;
  width: 60%;
  border-radius: 1ch;
  margin-bottom: 2vh;
  background-color: rgba(114, 185, 240, 0.75);
}

.signup-button > button:hover {
  transition: 0.3s;
  background-color: rgba(114, 185, 240, 0.9);
}

.login-button {
  display: flex;
  /* align-items: flex-end; */
  justify-content: center;
}

.login-button > button {
  margin-top: 6vh;
  font-size: 2em;
  height: 50px;
  width: 60%;
  border-radius: 1ch;
  margin-bottom: 3vh;
  background-color: rgba(114, 185, 240, 0.75);
}

.login-button > button:hover {
  transition: 0.3s;
  background-color: rgba(114, 185, 240, 0.9);
}

.signup-header {
  text-align: center;
  font-size: 1.66em;
  margin-bottom: 2vh;
}

.form-piece {
  display: flex;
  justify-content: space-between;
  margin: 2vh 0;
}

.login-form-piece {
  font-size: 1.5em;
  margin: 20px 0;
}

.signup-message {
  /* margin: 5vh 0; */
  color: red;
  text-align: center;
}

/* THIS IS YOUR PROFILE PAGE */

.profile-header {
  display: flex;
}

.profile-date > span {
  font-size: 1.25em;
}

.cog {
  justify-content: end;
}

.profile-log-head {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 345px) {
  .log h2 {
    font-size: 1em;
  }
}

.profile-mood-box {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.no-log-created {
  font-size: 3em;
  text-align: center;
  margin-top: 15vh;
}

.sort-by-age-box {
  display: flex;
  justify-content: center;
}

.sort-by-age {
  height: 50px;
  width: 45%;
  border-radius: 10px;
  font-size: 1.2em;
  background: rgba(69, 140, 216, 0.6);
  margin: 5% 0 0 0;
}

.sort-by-age:hover {
  transition: 0.25s;
  background: rgba(69, 140, 216, 0.9);
}

@media (max-width: 800px) {
  .sort-by-age {
    width: 75%;
  }
}

.weather-box-profile {
  margin-top: -0.5%;
}

@media (max-width: 425px) {
  .view-profile-overall-happiness {
    text-align: center;
  }
}

/* CREATE A LOG */

.create-log-page {
  display: flex;
  justify-content: center;
}

.create-log {
  border: 1px solid black;
  border-radius: 5px;
  margin: 1% 1% 0;
  text-align: center;
  max-width: 450px;
  height: 550px;
}

.create-log-button {
  width: 90%;
  height: 50px;
  border-radius: 1ch;
  font-size: 1.8em;
  margin: 0 0 2vh 0;
  /* background-color: rgba(93, 87, 87, 0.7); */
  background-color: rgba(180, 194, 60, 0.75);
}

.one-through-five-box {
  color: blue;
  font-weight: 100;
}

.one-through-five {
  display: flex;
  justify-content: space-around;
}

.one-through-five > span {
  margin: 12px 0;
  padding: 6px 11px;
  border: 2px solid blue;
  border-radius: 50%;
}

.one-through-five > button {
  margin: 12px 0;
  padding: 6px 11px;
  border: 2px solid blue;
  border-radius: 50%;
}

.one-through-five > #mood {
  color: rgb(15, 120, 218);
  margin: 12px 0;
  padding: 6px 6px;
  border: 2px solid blue;
  border-radius: 50%;
}

.one-through-five > #mood:hover {
  transition: 0.2s;
  background-color: rgba(250, 148, 148, 0.8);
}
.one-through-five > span:hover {
  transition: 0.2s;
  background-color: lightblue;
}

.one-through-five > span:focus {
  background-color: lightcoral;
}

.one-through-five > button:hover {
  transition: 0.2s;
  background-color: lightblue;
}

.one-through-five > button:focus {
  background-color: lightcoral;
}

#mood:target {
  background-color: black;
}

:target {
  background-color: black;
}

/* SETTINGS PAGE */

.settings-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.settings {
  /* border-left: 1px solid black;
  border-right: 1px solid black; */
  width: 54%;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 3vh;
  padding: 1%;
  background: #a9c3e0;
}

@media (max-width: 700px) {
  .settings {
    width: 93%;
  }
}

.settings-change-preferences {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding-bottom: 2vh;
  margin-top: 2vh;
}

.settings-change-preferences-button {
  height: 30px;
  width: 27%;
  min-width: 120px;
  border-radius: 10px;
  font-size: 0.85em;
  background: rgba(224, 166, 166, 0.7);
}

.settings-change-preferences-button:hover {
  transition: 0.25s;
  background: rgba(235, 160, 160, 0.95);
}

.settings-change-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid black;
  padding-bottom: 2vh;
}

.change-account-sub-box {
  display: flex;
  justify-content: space-between;
  width: 275px;
}

.settings-change-password {
  border-top: 2px solid black;
  margin-top: 2vh;
}

.change-password-super-box {
  display: flex;
  justify-content: center;
}

.change-password-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 275px;
}

.change-password-sub-box {
  display: flex;
  justify-content: space-between;
}

.settings-change-button {
  color: white;
  font-size: 1em;
  height: 35px;
  width: 30%;
  margin: 6vh 0 3vh;
  border-radius: 1ch;
  background-color: rgba(36, 100, 184, 0.8);
  align-self: center;
}

.settings-change-button:hover {
  transition: 0.2s;
  background-color: rgba(19, 71, 139, 0.8);
}

.delete {
  background-color: rgba(255, 0, 0, 0.75);
  /* box-shadow: 1px 1px rgb(16, 15, 15); */
  font-size: 1.5em;
  height: 52px;
  width: 200px;
  margin: 3%;
  border-radius: 2ch;
  border: 2px solid black;
}

.delete:hover {
  transition: 0.3s;
  background-color: rgba(255, 0, 0, 0.9);
}

.confirmDelete {
  margin: 3vh 0 0 0;
}

/* MOBILE */

@media (min-width: 425px) and (max-width: 770px) {
  .header-productivity {
    width: 27% !important;
  }
}

@media (max-width: 420px) {
  .filter-box > div {
    width: 100%;
    margin: 2vh 0;
    text-align: center;
  }

  .weather-box > p {
    margin-left: 9px;
  }

  .logged-in-user {
    margin: 0 0 0 2vw;
    font-size: 0.7em;
  }

  .create-button {
    width: 90%;
    margin: 8% 5% 2%;รง
  }

  .header-productivity {
    width: 31% !important;
  }
}

@media (min-width: 370px) and (max-width: 419px) {
  .header-productivity {
    width: 31% !important;
  }
}

@media (max-width: 1500px) {
  .settings-change-button {
    width: 250px;
    /* width: 85%; */
  }
}

