/* #create-card-form {
  display: flex;
  flex-direction: column;
} */

.form-box {
  border-style: solid;
  /* width: 28%; */
  /* background-color: aquamarine; */
}

.definition-card {
  /* background-color: rgb(155, 14, 14); */
  background-color: rgba(208, 96, 96, 0.75);
}

.question-card {
  /* background-color: rgba(248, 225, 151, 0.9); */
  background-color: rgba(170, 115, 44, 0.75);
}

.textbox {
  display: flex;
  justify-content: space-between;
  margin: 10% 3%;
}

.card-choice {
  display: flex;
  justify-content: center;
  padding: 3px;
}

.card-choice div {
  border: 1px solid black;
  margin: 2%;
  padding: 2%;
}

/* .definition {
  background-color: rgb(155, 14, 14);
} */

div .chosen {
  font-weight: bold;
  overflow: hidden;
  border: 2px solid black;
}

/* BUTTON BOX */
.button-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.extra-fields {
  border: 1px solid black;
}
